*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:  'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    position: absolute;
    top:0;
}
header hr{
    width: 100%;
}
.padrao{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    top:30%;
}

main{
position: relative;
}