.verde{
    background-color: green;
}
.amarelo{
    background-color: yellow;
}
.branco{
    background-color: white;
}
.azul{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
.violeta{
    background-color: blueviolet;
}
.marron{
    background-color: brown;
}
.rosa{
    background-color: rgb(226, 2, 247);
}
.preto{
    background-color: black;
}
.cinza{
    background-color: gray;
}
.laranja{
    background-color: orangered;
}
.aqua{
    background-color: aqua;
}