*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.verde{
    background-color: green;
}
.amarelo{
    background-color: yellow;
}
.branco{
    background-color: white;
}
.azul{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
.violeta{
    background-color: blueviolet;
}
.marron{
    background-color: brown;
}
.rosa{
    background-color: rgb(226, 2, 247);
}
.preto{
    background-color: black;
}
.cinza{
    background-color: gray;
}
.laranja{
    background-color: orangered;
}
.aqua{
    background-color: aqua;
}

body{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    width: 90vw;

    border: 1px solid black;
}
#color-return{
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 80px;
    height: 80px;
    border:1px solid black;
}